

.table {
    height: 800px;
    top: 120px;
}
.header {
    background-color: #0088fb;
    height: 50px;
}
.header-text {
    /*margin：0 auto;*/
}
.cell {
    justify-content: center;
    border-style:none none solid none;
    border-bottom-width: 1px;
    border-bottom-color: #c0c0c0;
    height: 84px;
    /*padding: 20px;*/
}
.item-title {
    /*background-color: green;*/
    /*width: 120px;*/
}